body {
    background-image: url('../../images/Themes/valorBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar-header {
    background-color:#A13A0F;
    width: 100%;
    opacity: 0.7;
}

.col-xs-3{
    opacity:0.8;
}